# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.apk
*.aab

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Tests
coverage/
